<script>
document.getElementById("form").onsubmit = async function(e){
  e.preventDefault();

  let fileInput = document.querySelector("input[type='file']");

  if (fileInput.files.length === 0){
    alert("Please select a file!");
    return;
  }

  let formData = new FormData();
  formData.append("file1", fileInput.files[0]);

  try {
    let res = await fetch("/upload", {
      method: "POST",
      body: formData
    });

    let data = await res.json();

    document.getElementById("result").innerHTML =
      "<br><b>ITI:</b> " + (data.iti || data.d1?.iti) +
      "<br><b>Risk:</b> " + (data.risk || data.d1?.risk);

  } catch (err) {
    document.getElementById("result").innerHTML =
      "<b style='color:red'>Error:</b> " + err;
  }
}
</script>
